<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regisztráció</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background: lightgrey">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center mb-4">Bejelentkezés</h2>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>

            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Felhasználónév</label>
                    <input type="text" class="form-control shadow" id="username" name="username" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Jelszó</label>
                    <input type="password" class="form-control shadow" id="password" name="password" required>
                </div>

                <div th:if="${showCaptcha}">
                    <label for="captcha">Captcha:</label>
                    <div class="mb-2">
                        <img th:src="@{/captcha.jpg(t=${timestamp})}" alt="captcha"/>
                    </div>
                    <div  class="mb-3">
                    <input type="text" class="form-control shadow" id="captcha" name="captcha" placeholder="Írd be a képen látható kódot" required/>
                    </div>
                </div>

                <button type="submit" class="btn btn-dark w-100 shadow" id="loginBtn" disabled>Bejelentkezés</button>
            </form>

            <div class="text-center mt-3">
                Még nincs regisztrálva?
                <a th:href="@{/register}" class="text-primary">Regisztráljon</a>
            </div>
        </div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const username = document.getElementById("username");
        const password = document.getElementById("password");
        const loginBtn = document.getElementById("loginBtn");

        function validateForm() {
            loginBtn.disabled = !(username.value && password.value);
        }

        [username,password].forEach(field => {
            field.addEventListener("input", validateForm);
        });
    });
</script>
</body>
</html>